<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Complete - Exam {{ exam_number }}</title>
    <link rel="icon" href="https://miro.medium.com/v2/resize:fit:1100/format:webp/0*y-bIB9JgCwPgWYRT.png" type="image/png">

</head>
<body>
    <div class="container">
        <h1>Quiz Completed!</h1>
        <p>Final Score: {{ correct_answers }} / {{ total_questions }} ({{ "%.2f"|format(final_score) }}%)</p>
        <a href="{{ url_for('index') }}">Back to Home</a>
    </div>
</body>
</html>
